.App {}

header {
  /* height: 100%; */
  text-align: center;
}

.App-header {
  height: 103vh;
}

.App-header-background {
  /* position: absolute; */
  /* background-image: url('./images/artworks/art-1.jpg'); */
  width: 100%;
  margin: 0;
  background-color: #222;
  /* height: 150px; */
  /* padding: 20px; */
  color: white;
  /* position: relative; */
}

.App-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.App-title h1 {
  line-height: 100vh;
  margin: 0;
  font-size: 9.5em;
  color: cornflowerblue;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

.App-intro {
  font-size: large;
}

.nav-active NavBar {
  opacity: 0.5;
}

/* #navbar {
  padding-bottom: 80px;
} */

.nav-title {
  opacity: 0;
  transition: all 0.5s;
}

.fixed-nav .nav-title {
  opacity: 1
}

.fixed-nav #navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

[alt="logo"] {
  z-index: 1;
  transition: all 0.5s;
  transform: translate(18vw, 0) scale(3);
}

.fixed-nav [alt="logo"] {
  transform: translate(0, 31px) scale(0.9);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.background {
  opacity: 0;
}

.fixed-nav .background {
  content: "";
  background-image: url('./images/artworks/art-1.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  transition: opacity 1s;
}